@import 'src/themes/themes';

.rsResponseSection {
	padding: 32px 0;
	overflow-y: auto;
	height: calc(100vh - 123px);

	.content {
		width: 90%;
		max-width: 1024px;
		margin: 0 auto;
	}

	.responseItem {
		height: 56px;
		padding: 8px 16px;
		border-radius: 4px;
		display: flex;
		align-items: center;
		gap: 8px;

		.responseAlias {
			cursor: pointer;
		}

		.icon-delete {
			color: transparent;
		}

		/* Neutral/Beige 800 */
		&:hover {
			background: theme-var($neutralBeige800);

			.icon-delete {
				color: theme-var($neutralBeige500);

				&:hover {
					color: theme-var($secondaryOrange500);
				}
			}
		}
	}
}
