@import 'src/themes/themes';

.rsDbTableCell {
	padding: 4px 8px;
	height: 50px;
	display: flex;
	align-items: center;

	& > * {
		width: 100%;
	}

	border: 1px solid transparent;
	cursor: not-allowed;
	&:hover:not(.disableEdit) {
		cursor: pointer;
		border: 1px solid theme-var($primaryRed500);
	}

	.primaryKeyIndicator {
		position: absolute;
		left: -14px;
		top: 5px;
	}

	.rsSelect {
		max-width: 300px;
	}

	.editableTextCell {
		overflow: hidden;
		max-height: 50px;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}
