@import 'src/themes/themes';

.rsScopeSection {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	.scopeList {
		flex: 1;
		overflow-y: auto;
	}

	.deleteIcon {
		color: theme-var($neutralBeige500);
		cursor: pointer;
		position: absolute;
		left: -24px;
		top: 12px;
		&:hover {
			color: theme-var($secondaryOrange500);
		}
	}

	.scopeItem {
		position: relative;
		height: 40px;
		padding: 8px;
	}
}
