@import 'src/themes/themes';

.rsApiDetailsSection {
	padding: 32px 0 128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	overflow-y: auto;
	height: calc(100vh - 123px);

	& > * {
		width: 90%;
		max-width: 1024px;
	}
}
