@import 'src/themes/themes';

.rsInputTextarea {
	.inputTextareaContainer {
		border: 1px solid theme-var($neutralBeige700);
		border-radius: 4px;
		padding: 8px;
		background-color: theme-var($neutralBeige800);

		&:hover {
			border: 1px solid theme-var($neutralBeige500);
		}

		&:focus-within {
			border: 1px solid #ff1e1e;
		}

		textarea,
		textarea::placeholder {
			color: theme-var($neutralBeige500);
			font-family: 'Poppins', sans-serif;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.08em;
			background-color: theme-var($neutralBeige800);
		}

		textarea {
			color: theme-var($neutralWhite);
			resize: none;
			&:focus-visible {
				border: unset;
				outline: unset;
			}
		}
	}

	.rsInputErrorMessage {
		color: theme-var($neutralBeige500);
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.08em;
	}
}
