@import 'src/themes/themes';

.rsDropDownMenu {
	position: absolute;
	top: 48px;
	width: 215px;
	height: fit-content;
	transform: translateX(-27%);
	border: 1px solid #474a4d;
	border-radius: var(--borderRadius);
	z-index: 25;
	box-sizing: border-box;
	background: theme-var($neutralWhite);
}
