@import 'src/themes/themes';

.rsAppBar {
	height: $desktopAppBarHeight;
	background-color: theme-var($neutralBeige900);
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.dividerLine {
		width: 1px;
		min-height: $desktopAppBarHeight;
		background-color: theme-var($primaryRed700);
		margin: 0 16px;
	}
}
